language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"

os:
  - linux
  
sudo: false
  
env:
  - PATH=$HOME/miniconda/bin:$PATH LD_LIBRARY_PATH=$HOME/miniconda/lib C_INCLUDE_PATH=$HOME/miniconda/include

before_install:
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - env
  - ls $HOME/miniconda/lib
  - conda config --add channels dgursoy
  - conda config --set always_yes yes --set changeps1 no
  - conda update conda
  - conda install anaconda-client

install:
  - conda install python=$TRAVIS_PYTHON_VERSION nose six numpy h5py scipy scikit-image pywavelets fftw pyfftw spefile netcdf4 edffile tifffile python-coveralls
  - conda info -a
  - python setup.py build_ext --inplace

script: 
  - nosetests test --with-coverage

after_success:
  - coveralls
