language: python

python:
  - "2.7"

before_install:
  - sudo apt-get update
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --add channels dgursoy
  - conda config --set always_yes yes --set changeps1 no
  - conda update conda
  - conda install conda-build
  - conda update -n root conda-build
  - conda info -a

install:
  - conda install nose numpy h5py scikit-image pywavelets fftw spefile netcdf4 edffile python-coveralls
  - mkdir lib
  - python setup.py build_ext --inplace

script: 
  - nosetests test --with-coverage

after_success:
  - coveralls
