include README.md
include CHANGES.txt
include LICENSE.txt
recursive-include tomopy/dataio *
recursive-include tomopy/material *
recursive-include tomopy/preprocess *
recursive-include tomopy/recon *
recursive-include tomopy/tools *
