include README.rst
include LICENSE.txt
include VERSION
include CMakeLists.txt
# explicit because it is generated
include tomopy/allocator/__init__.py
recursive-include cmake *
recursive-include tomopy/data *.tif *.h5
recursive-include tomopy *
recursive-include source *
recursive-exclude * __pycache__ *.pyc
recursive-exclude source/pybind11/docs *
recursive-exclude source/pybind11/tests *.h *.cpp *.py
recursive-exclude _skbuild *
recursive-exclude benchmarking *
